{% include 'header.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ member_name }}'s Projects</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    body {
      padding: 20px;
    }
    h1, h2 {
      text-align: center;
    }
    ul {
      list-style: none;
      padding: 0;
    }
    li {
      padding: 20px;
      border: 1px solid #ccc;
      margin-bottom: 10px;
    }
    li:hover {
      background-color: #f5f5f5;
    }
  </style>
</head>
<body>
  <h1>{{ member_name }}'s Projects</h1>
  <div class="container">
    <form method="post" action="{{ url_for('view_user_effort', username=member_name) }}">
      <button type="submit" class="btn btn-primary">View effort logged</button>
    <ul>
      {% for project in projects %}
      <li>
        <h2>{{ project['name'] }}</h2>
        <p><strong>Manager:</strong> {{ project['manager'] }}</p>
        <p><strong>Team Members:</strong> {{ project['team']|join(', ') }}</p>
        {% if 'details' in project %}
        <p><strong>Details:</strong> {{ project['details'] }}</p>
        {% endif %}
      </li>
    {% endfor %}

    </ul>
    
    </form>
  </div>

  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNSliKT" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
